.table a {
    text-decoration: none;
    color: black;
}

.activePage {
    background: #e7f1ff !important;
}

.buttonsRow {

}

.rowSeparator {
    margin-bottom: 10px;
}

.disabled {
    display: none;
}